body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;
    background: #ecf0f1;
}


/*Topnav*/

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    padding: 7px;
}

.topnav input {
    margin: 13px 200px;
    padding: 3px 20px;
    width: 100%;
    border-color: #ddd;
}

.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 5;
}

.search {
    font-size: 17px;
}

.topnav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.home {
    float: left;
}

.right {
    float: right;
}

ul {
    list-style: none;
}


/* ==================================================================== */


/* main */

.main {
    background: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: cover;
    margin-left: 50px;
}

.deskripsi {
    margin-left: 90px;
}

img {
    width: 200px;
    height: 200px;
    ;
}

.samping {
    flex-direction: column;
}

.nama {
    margin-top: 20px;
    display: flex;
    font-size: 1.5em;
    padding-bottom: 10px;
    justify-content: center;
}

.button {
    margin-top: 20px;
    text-align: center;
}


/* eskripsi */

.sub-title {
    padding-top: 30px;
    margin-bottom: 15px;
    padding-inline-start: 0px;
}

.harga {
    font-size: 1.4em;
    color: #e74c3c;
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: bold;
}

.inline {
    display: inline;
}